In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
dataset = pd.read_csv("germany_housing_data_14.07.2020.csv")

In [4]:
dataset.head()

,Unnamed: 0,Price,Type,Living_space,Lot,Usable_area,Free_of_Relation,Rooms,Bedrooms,Bathrooms,...,Energy_source,Energy_certificate,Energy_certificate_type,Energy_consumption,Energy_efficiency_class,State,City,Place,Garages,Garagetype
0,0,498000.0,Multiple dwelling,106.00,229.0,NaN,01.10.2020,5.5,3.0,1.0,...,Gas,available,demand certificate,NaN,D,Baden-Württemberg,Bodenseekreis,Bermatingen,2.0,Parking lot
1,1,495000.0,Mid-terrace house,140.93,517.0,20.00,01.01.2021,6.0,3.0,2.0,...,NaN,not required by law,NaN,NaN,NaN,Baden-Württemberg,Konstanz (Kreis),Engen,7.0,Parking lot
2,2,749000.0,Farmhouse,162.89,82.0,37.62,01.07.2020,5.0,3.0,2.0,...,"Fernwärme, Bioenergie",available,demand certificate,NaN,B,Baden-Württemberg,Esslingen (Kreis),Ostfildern,1.0,Garage
3,3,259000.0,Farmhouse,140.00,814.0,NaN,nach Vereinbarung,4.0,NaN,2.0,...,Strom,available,demand certificate,NaN,G,Baden-Württemberg,Waldshut (Kreis),Bonndorf im Schwarzwald,1.0,Garage
4,4,469000.0,Multiple dwelling,115.00,244.0,NaN,sofort,4.5,2.0,1.0,...,Öl,available,demand certificate,NaN,F,Baden-Württemberg,Esslingen (Kreis),Leinfelden-Echterdingen,1.0,Garage

In [5]:
target = dataset.Price

In [6]:
target.head()

0    498000.0
1    495000.0
2    749000.0
3    259000.0
4    469000.0
Name: Price, dtype: float64

In [7]:
dataset.describe()

,Unnamed: 0,Price,Living_space,Lot,Usable_area,Rooms,Bedrooms,Bathrooms,Floors,Year_built,Year_renovated,Energy_consumption,Garages
count,10552.000000,1.055200e+04,10552.000000,10552.000000,5568.000000,10552.000000,6878.000000,8751.000000,7888.000000,9858.000000,5349.000000,2433.000000,8592.000000
mean,5275.500000,5.566851e+05,216.721008,1491.659004,134.300424,7.388978,4.169817,2.308993,2.283976,1958.821465,2010.706300,117.663111,2.698673
std,3046.244354,6.087410e+05,172.421321,8582.361675,188.814089,5.378126,2.577169,1.742330,0.821288,55.958072,10.548651,54.023207,3.195068
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1300.000000,1900.000000,5.100000,1.000000
25%,2637.750000,2.500000e+05,130.000000,370.000000,48.000000,5.000000,3.000000,1.000000,2.000000,1935.000000,2006.000000,83.170000,1.000000
50%,5275.500000,4.052150e+05,176.775000,656.500000,80.000000,6.000000,4.000000,2.000000,2.000000,1971.000000,2015.000000,112.700000,2.000000
75%,7913.250000,6.550000e+05,250.000000,1047.000000,150.250000,8.000000,5.000000,3.000000,3.000000,1996.000000,2018.000000,146.000000,3.000000
max,10551.000000,1.300000e+07,5600.000000,547087.000000,4034.000000,170.000000,61.000000,44.000000,13.000000,2022.000000,2206.000000,503.940000,70.000000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10552 entries, 0 to 10551
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               10552 non-null  int64
 1   Price                    10552 non-null  float64
 2   Type                     10150 non-null  object
 3   Living_space             10552 non-null  float64
 4   Lot                      10552 non-null  float64
 5   Usable_area              5568 non-null   float64
 6   Free_of_Relation         6983 non-null   object
 7   Rooms                    10552 non-null  float64
 8   Bedrooms                 6878 non-null   float64
 9   Bathrooms                8751 non-null   float64
 10  Floors                   7888 non-null   float64
 11  Year_built               9858 non-null   float64
 12  Furnishing_quality       7826 non-null   object
 13  Year_renovated           5349 non-null   float64
 14  Condition                10229 non-null  object
 15  Heating                  9968 non-null   object
 16  Energy_source            9325 non-null   object
 17  Energy_certificate       9797 non-null   object
 18  Energy_certificate_type  7026 non-null   object
 19  Energy_consumption       2433 non-null   float64
 20  Energy_efficiency_class  5733 non-null   object
 21  State                    10551 non-null  object
 22  City                     10551 non-null  object
 23  Place                    10262 non-null  object
 24  Garages                  8592 non-null   float64
 25  Garagetype               8592 non-null   object
dtypes: float64(12), int64(1), object(13)
memory usage: 1.6+ MB

In [9]:
dataset.nunique()

Unnamed: 0                 10552
Price                       1411
Type                          11
Living_space                1867
Lot                         2526
Usable_area                 1012
Free_of_Relation             705
Rooms                         72
Bedrooms                      32
Bathrooms                     28
Floors                        10
Year_built                   292
Furnishing_quality             4
Year_renovated                67
Condition                     10
Heating                       13
Energy_source                104
Energy_certificate             3
Energy_certificate_type        2
Energy_consumption          1423
Energy_efficiency_class        9
State                         16
City                         534
Place                       4762
Garages                       37
Garagetype                     7
dtype: int64

In [10]:
dataset.shape

(10552, 26)

In [11]:
dataset.isna().sum()

Unnamed: 0                    0
Price                         0
Type                        402
Living_space                  0
Lot                           0
Usable_area                4984
Free_of_Relation           3569
Rooms                         0
Bedrooms                   3674
Bathrooms                  1801
Floors                     2664
Year_built                  694
Furnishing_quality         2726
Year_renovated             5203
Condition                   323
Heating                     584
Energy_source              1227
Energy_certificate          755
Energy_certificate_type    3526
Energy_consumption         8119
Energy_efficiency_class    4819
State                         1
City                          1
Place                       290
Garages                    1960
Garagetype                 1960
dtype: int64

In [12]:
col_to_fill_zero = ['Usable_area', 'Free_of_Relation', 'Bedrooms', 'Bathrooms', 'Floors', 'Furnishing_quality', 'Year_renovated', 'Energy_source', 'Energy_certificate_type', 'Energy_consumption', 'Energy_efficiency_class']

dataset[col_to_fill_zero] = dataset[col_to_fill_zero].fillna(0)

In [13]:
dataset.isna().sum()

Unnamed: 0                    0
Price                         0
Type                        402
Living_space                  0
Lot                           0
Usable_area                   0
Free_of_Relation              0
Rooms                         0
Bedrooms                      0
Bathrooms                     0
Floors                        0
Year_built                  694
Furnishing_quality            0
Year_renovated                0
Condition                   323
Heating                     584
Energy_source                 0
Energy_certificate          755
Energy_certificate_type       0
Energy_consumption            0
Energy_efficiency_class       0
State                         1
City                          1
Place                       290
Garages                    1960
Garagetype                 1960
dtype: int64

In [14]:
dataset['Year_built'] = dataset['Year_built'].fillna(dataset.Year_built.mean())
dataset['Garages'] = dataset['Garages'].fillna(dataset.Garages.mean())

In [15]:
dataset.isna().sum()

Unnamed: 0                    0
Price                         0
Type                        402
Living_space                  0
Lot                           0
Usable_area                   0
Free_of_Relation              0
Rooms                         0
Bedrooms                      0
Bathrooms                     0
Floors                        0
Year_built                    0
Furnishing_quality            0
Year_renovated                0
Condition                   323
Heating                     584
Energy_source                 0
Energy_certificate          755
Energy_certificate_type       0
Energy_consumption            0
Energy_efficiency_class       0
State                         1
City                          1
Place                       290
Garages                       0
Garagetype                 1960
dtype: int64

In [16]:
dataset.dropna(inplace = True)

In [17]:
dataset.isna().sum()

Unnamed: 0                 0
Price                      0
Type                       0
Living_space               0
Lot                        0
Usable_area                0
Free_of_Relation           0
Rooms                      0
Bedrooms                   0
Bathrooms                  0
Floors                     0
Year_built                 0
Furnishing_quality         0
Year_renovated             0
Condition                  0
Heating                    0
Energy_source              0
Energy_certificate         0
Energy_certificate_type    0
Energy_consumption         0
Energy_efficiency_class    0
State                      0
City                       0
Place                      0
Garages                    0
Garagetype                 0
dtype: int64

In [18]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [19]:
dataset.head()

,Unnamed: 0,Price,Living_space,Lot,Usable_area,Rooms,Bedrooms,Bathrooms,Floors,Year_built,...,Place_Überherrn,Place_Überlingen,Place_Ückendorf,Place_Ürzig,Garagetype_Carport,Garagetype_Duplex lot,Garagetype_Garage,Garagetype_Outside parking lot,Garagetype_Parking lot,Garagetype_Underground parking lot
0,0,498000.0,106.00,229.0,0.00,5.5,3.0,1.0,2.0,2005.0,...,0,0,0,0,0,0,0,0,1,0
1,1,495000.0,140.93,517.0,20.00,6.0,3.0,2.0,0.0,1994.0,...,0,0,0,0,0,0,0,0,1,0
2,2,749000.0,162.89,82.0,37.62,5.0,3.0,2.0,4.0,2013.0,...,0,0,0,0,0,0,1,0,0,0
3,3,259000.0,140.00,814.0,0.00,4.0,0.0,2.0,2.0,1900.0,...,0,0,0,0,0,0,1,0,0,0
4,4,469000.0,115.00,244.0,0.00,4.5,2.0,1.0,0.0,1968.0,...,0,0,0,0,0,0,1,0,0,0

In [20]:
X = dataset.drop('Price', axis='columns')
y = dataset.Price

In [21]:
len(X), len(y)

(7003, 7003)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [23]:
len(X_train), len(X_test)

(4902, 2101)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
model = LinearRegression()

In [26]:
model.fit(X_train, y_train)

LinearRegression()

In [27]:
predict_y = model.predict(X_test)

In [28]:
model.score(X_train, y_train)

0.939843568211342

In [29]:
model.score(X_test, y_test)

-1.3775498351223968e+16

## by using L1 Regularization

In [30]:
from sklearn import linear_model 
lasso_reg = linear_model.Lasso()
lasso_reg.fit(X_train, y_train)

Lasso()

In [31]:
lasso_reg.score(X_train, y_train)

0.9397209418459118

In [32]:
lasso_reg.score(X_test, y_test)

0.5050459389460508

## by using L2 Regularization

In [33]:
from sklearn.linear_model import Ridge

In [34]:
ridge_reg = Ridge()

In [35]:
ridge_reg.fit(X_train, y_train)

Ridge()

In [36]:
ridge_reg.score(X_train, y_train)

0.8768196980010252

In [37]:
ridge_reg.score(X_test, y_test)

0.6281123263328496